/* =================================
    Base Element Styles
   ================================= */ 

   * {
        box-sizing: border-box;
    }

   body {
        font-family: 'Titillium Web', sans-serif;
        font-size: 18px;
        line-height: 1.3em;
        text-align: center;
        margin: 0 auto;
    }

    h1 {
        margin-top: 0;
        padding: 1em;
        font-family: "Fredoka One", cursive;
        color: tomato;
    }

    h2 {
        padding: 1.5em;       
        font-weight: bolder;
    }

    h3 {
        padding: 0.5em;
        font-size: 1.3em;
        font-weight: 900;
    }

   

    p {
        text-align: center;
        margin: 0 auto;
        padding-bottom: 2em;
    }

    a {
        text-decoration: none;
        color: black;
    }

    img {
        width: 90%;
    }

    .home h2 {
        color: tomato;
    }

    .portfolio h2 {
        color: rgb(131, 206, 236);
    }

    .interests h2 {
        color: rgb(131, 236, 136);
    }

    .contact h2 {
        color: tomato;
    }
/* =================================
    Header Styles
   ================================= */ 

    header {
        background-color: #f5f3f3;
        width: 100%;
        margin-top: 0;
    }

    .heading {
        width: 100%;
        margin: 0 auto;
    }

    .bio {
        padding: 3em 0;
        width: 90%;
        margin: 0 auto;
        font-size: 1.2em;
    }

    #profile_img {
        width: 60%;
        padding-bottom: 1.5em ;
    }

/* =================================
    Main Nav Styles
   ================================= */ 

    .main_nav a {
        display: inline-block;
        width: 90%;
        background-color: #fff;
        padding: 0.6em 0;
        margin-bottom: 5px;
        border-radius: 4px;
    }

    nav a {
        font-weight: bolder;
    }

    .home_link {
        color: tomato;
    }

    .portfolio_link {
        color: rgb(131, 206, 236);
    }

    .interests_link {
        color: rgb(131, 236, 136);
    }

/* =================================
    Card Styles
   ================================= */ 

    .card p {
        width: 80%;
    }

/* =================================
    Footer Styles
   ================================= */ 

    .contact .info {
        padding-bottom: 1em;
    }

    #contact {
        padding-bottom: 2em;
    }

    span {
        font-weight: bold;
        margin-left: 12px;
    }

    footer {
        background-color: #f5f3f3;
    }

    .main_footer {
        width: 90%;
        border-top: 1px solid rgb(204, 198, 198);
        margin: 0 auto;
    }

    .bottom_links {
        display: inline-block;
        padding-top: 1em;
    }

    .name {
        float: left;
    }

    .back_to_top {
        float: right;
        padding: 0.5em;
        margin-top: 0.5em;
        border-radius: 4px;
    }

    .footer_nav {
        display: none;
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
      }

/* =================================
    Media Queries
   ================================= */ 

   @media (min-width: 768px) {

    .main_nav a {
        display: inline;
        background-color: #f5f3f3;
        padding: 0.5em 1em;
    }

    #profile_img {
        width: 40%;
        float: right;
    }

    .bio_text {
        width: 60%;
        float: left;
        text-align: left;
        padding-right: 1em;
    }

    .card {
        width: 50%;
        float: left;
        padding: 1em;
    }

    .card h3 {
        padding: 0;
    }

    #contact {
        width: 70%;
        margin: 0 auto;
        padding: 0 0 2em 0;
    }

    .back_to_top {
        display: none;
    }

    .footer_nav {
        display: inline-block;
        float: right;
        padding: 0.5em;
        margin: 0.5em;
    }

    .footer_nav a {
        padding: 0.5em;
    }

}

@media (min-width: 1024px) {

    h1 {
        float: left;
        padding-right: 0;
    }

    .main_nav {
        float: right;
        margin-top: 2em;
    }

    .heading,
    .bio {
        width: 90%;
        margin: 0 auto;
    }

    .bio {
        padding-top: 0;
    }

    .portfolio,
    .interests {
        width: 90%;
        margin: 0 auto;
    }

    .card {
        width: 33%;
        padding: 0 0 1em 0;
    }

    .contact_info {
        width: 60%;
    }
}



